*{
  box-sizing: border-box;
}
li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.App{width: 100%; position: relative;}
/* wrap */
.wrap{width: 100%; padding: 50px 100px 80px; margin-top: 30px;}
/* top_nav */
#top_nav{
  width: 100%; height: 50px; background: rgb(59, 59, 59); 
  position: fixed; display: flex;
  top: 0; left: 0; padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}
#top_nav .logo{
  color: white;
}
#top_nav .hamburger{
  width: 50px; height: 50px; position: relative;
  cursor: pointer;
}
#top_nav .hamburger > span{
  width: 100%; height: 6px; position: absolute; 
  background: white; transform: translate(-50%, -50%);
  border-radius: 30px; display: block;
  transition: all .3s linear;
}
#top_nav .hamburger > span:nth-child(1){
  top : 12px; left: 50%;
}
#top_nav .hamburger > span:nth-child(2){
  top : 50%; left: 50%;
}
#top_nav .hamburger > span:nth-child(3){
  bottom: 6px; left: 50%;
}
/*  */
#top_nav .hamburger:hover > span:nth-child(1){
  border-radius: 30px 30px 0 0;
  height: 12px; background: rgb(209, 136, 39);
  top: 12px;
}
#top_nav .hamburger:hover > span:nth-child(2){
  height: 10px;
  background: saddlebrown;
}
#top_nav .hamburger:hover > span:nth-child(3){
  border-radius: 0 0 30px 30px;
  height: 12px; background: rgb(209, 136, 39);
  bottom: 0px;
}
/*  */
#top_nav .hamburger.click > span:nth-child(1){
  height: 10px; border-radius: 30px 0 30px 0; background: #D4A017;
  top: calc(50% - 4px); left: 0; transform: rotate(45deg);
}
#top_nav .hamburger.click > span:nth-child(2){
  height: 10px; 
  opacity: 0;
}
#top_nav .hamburger.click > span:nth-child(3){
  height: 10px; border-radius: 0 30px 0 30px; background: #D4A017;
  bottom: calc(50% - 5px); left: 0; transform: rotate(-45deg);
}
#top_nav .hamburger_menu{
  width: 100px; font-size: 13px;
  display: flex; flex-flow: column;
  align-items: center;
  background: #fff;
  border: solid 1px #000;
  position: absolute; top: 100%; left: calc(100% - 125px);
  transform: translate(-50%, 0);
}
#top_nav .hamburger_menu::before{
  content: ''; width: 10px; height: 10px;
  display: block; background: #fff;
  clip-path: polygon(50% 0, 50% 0, 0 100%, 100% 100%);
  position: absolute; top:-10px; left:  50%;
  transform: translate(-50%, 0);
}
#top_nav .hamburger_menu > p{
  cursor: pointer;
}
/* UserInfo */
.now_info > span{
  margin-right: 10px;
}
/* FoodSearching css */
#FoodSearching #search_form{
  display: flex; align-items: center;
}
#FoodSearching #search_form #food_text{
  width: 300px; height: 30px; border-radius: 30px;
  border: solid 1px black; outline: none;
  margin-right: 10px;
}
#FoodSearching #search_form #food_text:focus{
  border: solid 1px green;
}
#FoodSearching #search_form #search{
  height: 30px; border-radius: 30px; background: greenyellow;
  border: solid 1px #000; cursor: pointer;
}
#FoodSearching #search_switch{
  margin-bottom: 5px;
}
#FoodSearching #search_switch > button{
  border-radius: 10px; border: solid 1px #000; background: greenyellow;
  cursor: pointer;
}
/* food_graph */
#food_graph{
  width: 100%; margin-top: 20px;
  border: solid 1px #000;
}
#food_graph > tbody > tr > td{
  border: solid 1px #000;
  font-size: 12px;
}
#food_graph #nothing > td{
  height: 300px;
  font-weight: bold;
  text-align: center;
}
/* FoodSinglePage */
#single{
  width: 100%;
  display: flex;
  gap: 10%;
}
#single > *{
  width: 50%;
}
#single #single_info{
  width: 100%;
}
.single_hide_alert{
  transition: all .5s ease;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.single_hide_alert.hide{
  opacity: 0;
}
.single_hide_alert.show{
  display: 1;
}
/* ResultPage */
.menu_delete{
  display: flex; justify-content: center; align-items: center;
}
.menu_delete > button{
  background: red; border: solid 1px #000;
  color: #fff; cursor: pointer;
} 
/* FoodMixture */
.foodMixture_box{
  width: 100%; height: 100px; display: block;
  border: solid 1px #000; border-radius: 30px;
  padding: 10px 20px; margin-bottom: 20px;
}
.foodMixture_box > p{
  margin: 0; padding: 0;
}
.foodMixture_box .mixtureNumber{
  margin-bottom: 5px;
}
.foodMixture_box .food_nm{
  font-size: 12px;
}