*{
  box-sizing: border-box;
}
li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.App{width: 100%; position: relative;}
/* 재사용 css */
/* wrap */
.wrap{width: calc(100% - 200px); margin: 0 auto; padding-top: 50px; opacity: 0; transition: all .5s;}
.wrap.on{opacity: 1;}
.btn{
  border: none; border-radius: 10px;
  background:linear-gradient(#81c784, #66bb6a 90%, #4caf50 100%); 
  color: #fff; font-weight: bold; cursor: pointer;
}
.btn:hover{
  background: #66bb6a;
}
.center_btn{
  display: block; width: 200px; height: 50px;
  border-radius: 30px; font-size: 16px; margin: 40px auto;
}
.pagenation_btn{
  width: 30px; height: 30px; font-size: 0; 
  border-radius: 50%; border: none;
  background: #50C878; cursor: pointer;
  position: relative; transition: all .5s;
}
.pagenation_btn:hover{
  background: #59dd85;
}
.pagenation_btn.prev::before{
  content: ''; width: 1px; height: 8px; display: block;
  background: #fff; transform: rotate(45deg) translate(-50%, -50%);
  position: absolute; top: 12px; left: 11px;
}
.pagenation_btn.prev::after{
  content: ''; width: 1px; height: 8px; display: block;
  background: #fff; transform: rotate(135deg) translate(-50%, -50%);
  position: absolute; top: 12px; left: 10px;
}
.pagenation_btn.next::before{
  content: ''; width: 1px; height: 8px; display: block;
  background: #fff; transform: rotate(-45deg) translate(-50%, -50%);
  position: absolute; top: 11px; right: 10px;
}
.pagenation_btn.next::after{
  content: ''; width: 1px; height: 8px; display: block;
  background: #fff; transform: rotate(-135deg) translate(-50%, -50%);
  position: absolute; top: 11px; right: 11px;
}
/* 하단 네비게이션 버튼 묶음 */
.foot_navigate_box{
  margin-bottom: 30px; display: flex; justify-content: space-between;
}
.foot_navigate_box .foot_navigate{
  cursor: pointer;
}
/* 라운드 그래프 디자인 */
.round_graphs{
  width: 100%;
  display: flex; flex-flow: row wrap;
  justify-content: center;
}
.round_graphs .graph_wrap{
  width: 50%; display: flex; flex-flow: column; align-items: center;
  margin-bottom: 15px;
}
.round_graphs .graph_wrap .round_graph{
  position: relative;
  width: 80%; aspect-ratio: 1/1; display: block;
  border-radius: 100%;
  background: conic-gradient( 
    #26BDE2 0% 20%, gray 20% 100%
  );
  margin-bottom: 5px;
}
.round_graphs .graph_wrap .round_graph .center_circle{
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  width: 60%; aspect-ratio: 1/1; border-radius: 100%; background: #fff;
  display: flex; flex-flow: column; justify-content: center; align-items: center;
  font-size: 15px; font-weight: bold;
}
/* 라운드 그래프 영역 */
.result_content_wrap{
  width: 100%; display: flex; margin-top: 20px;
}
.result_content_wrap #result_round_graph{
  width: 50%; padding: 5%;
}
/* 영양성분 총 평가 표 디자인 */
.result_content_wrap #result_total{
  width: 50%;
}
.result_content_wrap #result_total .result_total_subT{
  font-size: 14px;
}

.result_nutrition_evaluation{
  width: 90%; padding: 5px 10px; 
  background: #59dd856b; border-radius: 30px;
  margin-bottom: 5px;
}
.result_nutrition_evaluation .nutrition_average{
  font-size: 10px; color: gray; display: inline-block;
}
.result_nutrition_evaluation .nutrition_check{
  float: right; font-size: 12px; padding: 3px; border-radius: 30px;
}
.result_nutrition_evaluation .nutrition_check.good{
  background: green;
  color: #fff;
}
.result_nutrition_evaluation .nutrition_check.lack{
  background: blue;
  color: #fff;
}
.result_nutrition_evaluation .nutrition_check.over{
  background: red;
  color: #fff;
}
/* 메뉴 표 디자인 */
.food_graph{
  width: 100%; margin-top: 20px;
  border-top: solid 1px #66bb6a;
}
.food_graph > tbody > .table_row:nth-child(odd){
  background: #FCFCFC;
}
.food_graph > tbody > .table_row:nth-child(even){
 background: #E0F7E9;
}
.food_graph > tbody > tr > td{
  padding: 5px 2px; font-size: 12px;
  max-width: 150px; white-space: 2;
  overflow: hidden; text-overflow: ellipsis;  
}
.food_graph > tbody > tr > td:first-child{
  text-align: center;
}
.food_graph #nothing > td{
  height: 300px;
  font-weight: bold;
  text-align: center;
}
.food_graph > tbody > .graph_line > td{
  color: #4CAF50; font-size: 13px; font-weight: bold;
}
/* UserInfoSet */
.info_set{
  width: 60%; margin: 0 auto; background: #59dd8577;
  padding: 7px 40px; margin-bottom: 10px;
  border-radius: 30px; font-weight: bold;
}
.info_set p{
  margin: 0 0 5px;
}
.info_set select{
  border-radius: 50px; padding: 5px;
}
.info_set input{
  border: solid 1px #000; border-radius: 50px; padding: 5px;
}
.info_set select:focus, 
.info_set input:focus{
  border: solid 1px #50C878;
  outline: none;
}
/* 재사용 css */

/* App.js */
/* top_nav */
#top_nav{
  z-index: 1;
  width: 100%; height: 50px; background: #81c784; 
  position: fixed; display: flex;
  top: 0; left: 0; padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}
#top_nav .logo{
  color: white;
}
#top_nav .hamburger{
  width: 50px; height: 50px; position: relative;
  cursor: pointer;
}
#top_nav .hamburger > span{
  width: 100%; height: 6px; position: absolute; 
  background: white; transform: translate(-50%, -50%);
  border-radius: 30px; display: block;
  transition: all .3s linear;
}
#top_nav .hamburger > span:nth-child(1){
  top : 12px; left: 50%;
}
#top_nav .hamburger > span:nth-child(2){
  top : 50%; left: 50%;
}
#top_nav .hamburger > span:nth-child(3){
  bottom: 6px; left: 50%;
}
#top_nav .nav_click_menu{
  display: flex; gap: 20px;
  align-items: center;
}
#top_nav .nav_user_info{
  width: 40px; height: 40px; border-radius: 50%; overflow: hidden; border: none;
}
#top_nav .nav_user_info .nav_user_img{
  width: 100%; height: 100%;
  object-fit: cover;
}
/*  */
#top_nav .hamburger:hover > span:nth-child(1){
  border-radius: 30px 30px 0 0;
  height: 12px; background: rgb(209, 136, 39);
  top: 12px;
}
#top_nav .hamburger:hover > span:nth-child(2){
  height: 10px;
  background: linear-gradient(yellow 0 20%, saddlebrown 20% 90%);
  position: relative;
}
#top_nav .hamburger:hover > span:nth-child(2)::before{
  content: ''; width: 2px; height: 7px; background-color: yellow; display: block;
  position: absolute; top: 10%; left: 40%;
}
#top_nav .hamburger:hover > span:nth-child(2)::after{
  content: ''; width: 2px; height: 4px; background-color: yellow; display: block;
  position: absolute; top: 10%; left: 30%;
}
#top_nav .hamburger:hover > span:nth-child(3){
  border-radius: 0 0 30px 30px;
  height: 12px; background: rgb(209, 136, 39);
  bottom: 0px;
}
/*  */
#top_nav .hamburger.click > span:nth-child(1){
  height: 10px; border-radius: 30px 0 30px 0; background: #D4A017;
  top: calc(50% - 4px); left: 0; transform: rotate(45deg);
}
#top_nav .hamburger.click > span:nth-child(2){
  height: 10px; 
  opacity: 0;
}
#top_nav .hamburger.click > span:nth-child(3){
  height: 10px; border-radius: 0 30px 0 30px; background: #D4A017;
  bottom: calc(50% - 5px); left: 0; transform: rotate(-45deg);
}
#top_nav .hamburger_menu{
  width: 100px; font-size: 13px;
  display: flex; flex-flow: column;
  align-items: center;
  background: #fff;
  border: solid 1px #000;
  position: absolute; top: 100%; left: calc(100% - 125px);
  transform: translate(-50%, 0);
}
#top_nav .hamburger_menu::before{
  content: ''; width: 10px; height: 10px;
  display: block; background: #fff;
  clip-path: polygon(50% 0, 50% 0, 0 100%, 100% 100%);
  position: absolute; top:-10px; left:  50%;
  transform: translate(-50%, 0);
}
#top_nav .hamburger_menu > p{
  cursor: pointer;
}
/* MainPage */
#main_page{
  display: flex; flex-flow: column; height: 100vh;
  justify-content: center; align-items: center;
  gap: 50px;
}
#main_page .main_center_title{
  margin-top: 50px;
  font-size: 55px;
  opacity: 0;
  animation: show_img 1s ease-in-out; animation-delay: 0s;
  animation-fill-mode: forwards;
}
#main_page .main_sub_title{
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  animation: show_img 1s ease-in-out; animation-delay: .5s;
  animation-fill-mode: forwards;
}
#main_page .start_btn{
  width: 200px; height: 70px;
  margin-top: 100px;
  font-size: 18px;
  opacity: 0;
  animation: show_img 1s ease-in-out; animation-delay: 1s;
  animation-fill-mode: forwards;
}
/* food_bg */
#main_page .food_bg{
  width: 100%; height: 100%; position: absolute;
  top: 0; left: 0; z-index: -1; overflow: hidden;
}
#main_page .food_bg .food_img{
  width: 300px; height: 300px; background: aqua;
  position: absolute; opacity: 0;
  background: url('/assets/pngwing.com.png');
}
#main_page .food_bg .food_img.st{
  animation: show_img 1s ease-in-out; animation-delay: 1s;
  animation-fill-mode: forwards;
}
#main_page .food_bg .food_img.nd{
  animation: show_img 1s ease-in-out; animation-delay: 1.3s;
  animation-fill-mode: forwards; background: #4CAF50;
}
#main_page .food_bg .food_img.rd{
  animation: show_img 1s ease-in-out; animation-delay: 1.6s;
  animation-fill-mode: forwards; background: #D4A017;
}
/* no */
#main_page .food_bg .food_img.no0{
  bottom: 0; left: 0;
}
#main_page .food_bg .food_img.no1{
  bottom: 0; right: 0;
}
#main_page .food_bg .food_img.no2{
  bottom: 20%; left: 0;
}
#main_page .food_bg .food_img.no3{
  bottom: 20%; right: 0;
}
#main_page .food_bg .food_img.no4{
  bottom: 0; left: 12%;
}
#main_page .food_bg .food_img.no5{
  bottom: 0; right: 12%;
}
#main_page .food_bg .food_img.no6{
  bottom: 20%; left: 10%;
}
#main_page .food_bg .food_img.no7{
  bottom: 20%; right: 10%;
}
#main_page .food_bg .food_img.no8{
  bottom: 0; left: 25%;
}
#main_page .food_bg .food_img.no9{
  bottom: 0; right: 25%;
}
#main_page .food_bg .food_img.no10{
  bottom: 42%; left: 0;
}
#main_page .food_bg .food_img.no11{
  bottom: 40%; right: 0;
}
#main_page .food_bg .food_img.no12{
  bottom: 40%; left: 12%;
}
#main_page .food_bg .food_img.no13{
  bottom: 42%; right: 12%;
}
#main_page .food_bg .food_img.no14{
  bottom: 58%; left: 0;
}
#main_page .food_bg .food_img.no15{
  bottom: 58%; right: 0;
}
@keyframes show_img{
  0%{
    opacity: 0;
    transform: translateY(10%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
/* UserInfo */
.now_info{
  text-align: center; font-weight: bold; width: 80%; height: 65px;
  line-height: 65px; margin: 0 auto; font-size: 18px;
  background: #86AB89 ; color: #f8ede3; text-shadow: 1px 1px #00000049;
  border: none; border-radius: 30px;
}
.now_info_wrap{
  width: 80%; margin: 0 auto;
  display: flex; flex-flow: row wrap; justify-content: space-between;
}
.now_info_wrap > p{
  width: calc(100%/2 - 60px); padding: 20px 10px; background: #CBE2B5 ; 
  border: none; border-radius: 30px; color: #505050; text-shadow: 1px 1px #0000001f;
}
.image_box{
  width: 200px; height: 200px; 
  border: solid 1px #000; border-radius: 50%;
  cursor: pointer; overflow: hidden;
  margin: 0 auto 40px;
}
.user_img{
  width: 100%; height: 100%;
  object-fit: cover;
}

/* FoodSearching css */
#FoodSearching #search_form{
  display: inline-block; position: relative;
  width: 30%;
}
#FoodSearching #search_form #food_text{
  width: 100%; padding: 15px 20px; border-radius: 15px;
  border: solid 1px black; outline: none;
}
#FoodSearching #search_form #food_text:focus{
  border: solid 1px #50C878;
}
#FoodSearching #search_form #search{
  height: 30px; border-radius: 30px; font-weight: bold;
  background: #50C878; color: #fff;
  border: solid 1px #50C878; cursor: pointer;
  position: absolute; top: 50%; right: 2%;
  transform: translateY(-50%); 
}
#FoodSearching #search_switch{
  margin-bottom: 5px;
}
#FoodSearching #search_switch > button{
  border-radius: 30px; border: solid 1px #50C878;
  background: #fff; color: #50C878;
  font-weight: bold;
  cursor: pointer; padding: 10px; 
}
#FoodSearching #search_switch > button:nth-child(2){
  margin-left: 10px;
}
#FoodSearching #search_switch > button.on{
  color: #fff; background: #50C878;
}
/* FoodGraph */
#graphOutlet #pagenation_box{
  display: flex; margin : 15px 0;
  justify-content: center;
}
#graphOutlet #pagenation_box .pagenation{
  display: flex; align-items: center; gap: 10px;
}
/* FoodSinglePage */
#single{
  margin-top: 50px;
  width: 100%; display: flex;
  gap: 10%;
}
#single #single_info{
  width: 40%;
}
#single #single_info .single_name_info{
  width: 100%; height: 100px; border: solid 1px #4CAF50;
  padding: 15px; display: flex; flex-flow: column; gap: 10px;
}
#single #single_info .single_name_info .single_maker{
  border-bottom: solid 1px #E0F7E9; font-weight: bold;
}
/* 영양성분표 디자인 */
#single #single_info .nutrition_label{
  width: 100%; margin-top: 15px;
  border: solid 4px #000;
}
#single #single_info .nutrition_label .label_top{
  padding: 20px 10px 10px; font-weight: bold;
  background: #000; color: #fff;
  display: flex; justify-content: space-between;
}
#single #single_info .nutrition_label .label_top .label_nutrition_info{
  font-size: 30px;
}
#single #single_info .nutrition_label .label_top #select_gram{
  display: flex; flex-flow: column;
}
#single #single_info .nutrition_label .label_contents{
  display: flex; flex-flow: column; font-weight: bold;
}
#single #single_info .nutrition_label .label_contents > *:last-child{
  border: none;
}
#single #single_info .nutrition_label .label_contents .label_nutrition{
  border-top: solid 1px #000; padding: 5px 5px 5px 0;
}
#single #single_info .nutrition_label .label_contents .label_nutrition .label_unit{
  font-size: 13px; font-weight: normal;
}
#single #single_info .nutrition_label .label_contents .family{
  display: flex; flex-flow: column; 
}
#single #single_info .nutrition_label .label_contents .parent{
  padding-left: 5px; border-top: solid 2px #000; display: flex; justify-content: space-between;
}
#single #single_info .nutrition_label .label_contents .child{
  margin-left: 15px; border-top: solid 1px #000; display: flex; justify-content: space-between;
}
#single #single_round_graph{
  width: 60%; padding: 0 30px;
}
#single #single_round_graph .round_graph_title{
  font-weight: bold; text-align: center; margin: 0 0 15px;
}

.single_hide_alert{
  z-index: 100;
  transition: opacity .5s ease;
  position: fixed;
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
  visibility: hidden;
  top: 50%; left: 50%;
  background: #0000005d; color: #fff;
  font-size: 20px; font-weight: bold;
  transform: translate(-50%, -50%);
}
.single_hide_alert.hide{
  opacity: 0;
}
.single_hide_alert.show{
  opacity: 1;
}
/* ResultPage */
.table_row button{
  display: block; margin: 0 auto;
  cursor: pointer;
} 
.menu_correction > button{
  display: block; margin: 0 auto;
}
.nutrition_correction_btn{
  background: #007BFF; color: #fff; 
  font-weight: bold; font-size: 10px;
  padding: 3px; cursor: pointer;
  border: solid 1px #007BFF; border-radius: 50%;
}
.menu_delete{
  background: red; color: #fff;
  border: solid 1px red; border-radius: 50%;
}
/* FoodMixture */
.foodMixture_box{
  width: 100%; height: 100px; display: block;
  border: solid 1px #000; border-radius: 20px;
  padding: 10px 20px; margin-bottom: 20px;
  cursor: pointer; position: relative;
  box-shadow: 1px 1px #000;
  opacity: 0; transform: translateY(10px); transition: 1s; transition-property: transform, opacity;
}
.foodMixture_box.show{
  opacity: 1; transform: translateY(0);
}
.foodMixture_box:hover{
  background: #81c784; color: #fff;
}
.foodMixture_box > p{
  margin: 0; padding: 0;
}
.foodMixture_box .mixtureNumber{
  margin-bottom: 5px;
}
.foodMixture_box .food_nm{
  font-size: 12px;
}
.mixture_delete{
  background: rgb(228, 121, 121); color: white;
  border: none; width: 30px; height: 30px; border-radius: 100%;
  display: flex; justify-content: center; align-items: center;
  line-height: 0; cursor: pointer;
  position: absolute; top: 10px; right: 20px;
}
.mixture_delete:hover{
  background: rgb(250, 132, 132);
}